body{
    font-family: 'Merriweather', serif;
   
}


.banner-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(0.4);
}
.banner-card img{
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.banner-text{
    position: absolute;
     top:0%;
    color: #FFF;
text-align: center;
font-size: 32px;
width:100%;
margin-top:70px;

}
.second{
    text-align: center;
}
.second img{
    width: 400px;
height: 300px;
flex-shrink: 0;
margin-bottom: 50px;
}
p{
    font-family: none;
}
.red{
    color: #F00;
}
    #discount{
    
text-align: center;
font-family: Inter;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;

    
}



 .mid_night_party_wrapper {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    background-image: url("Vectorrr\ \(1\).png");
    background-repeat: no-repeat;
    padding-top: 100px; 
     padding-bottom: 100px; 
    position: relative;
    background-size: cover;
    margin-bottom: 100px;
    filter: brightness(0.4);
}

.mid_night_party {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    color: white;
    position: relative;
    
}

.gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0vw;
}

.mid_night_party button {
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    padding-left: 20px;
    font-size: 25px;
    margin-top: 20px;
}

.text-part {
    width: 73%;
    z-index: 10;
}

.text-part h1{
    line-height: 80px;
    font-weight: 700;
    font-size: 60px;
    font-family: 'Merriweather', serif;
}

.text-part p{
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.midnight-party-2024{
    width: 27%;
}
.midnight-party-2024 img{
    width: 100%;
    z-index: 10;
}
 



.div-back{
 background-color: snow; 

 width: 1320px;
 height: 482px;
 flex-shrink: 0;
 margin-top: 70px;
 margin-left: 250px;
 display: flex;
 justify-content: center;
align-items: center;
border-radius: 5%;
margin-bottom: 100px;
}
.same{
    text-align: center;
}
.btn-2{
    color: #FFF;
    background-color: #F00;
    border: 0px;
    text-align: center;
    font-size: 15px;
    padding: 15px 32px;
    margin-left: 30%;
    border-radius: 5%;
}
.things-3{
    display: flex;
    margin: 0px 250px;
    
    align-items: center;
    width: 1600px;

background: #FFF;
width: 1320px;
    
}
.elipse{
    width: 364.844px;
height: 364.844px;
flex-shrink: 0;
border-radius: 364.844px;

border: 8px solid red;
 padding: 15px; 
}
.margin{
    margin-left: 100px;
}
.margin-1{
    margin-left: 150px;
}



.holiday_sales {
    display: block;
    margin: 0 auto;
    width: 80%;
    position: relative;
    margin-bottom: 100px;
}

.holiday_sales p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.holiday_sales h1 {
    text-align: center;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    margin-top: 0px;
}

.holiday_sales article {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 80%;
    color: gray;
    margin-bottom: 4vw;
    font-size: 20px;
}

.holiday_sales div {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.gift_box {
    width: 65%;
    z-index: 2;
}

.excited_girl {
    width: 35%;
    z-index: 0;
}

.holiday_sales .red_section {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: red;
    height: 15vw;
    z-index: 1;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.discount {
    width: 16vw;
    height: 16vw;
    position: absolute;
    z-index: 10;
    left: 43vw;
    top: 20vw;
}





.pictures{
    margin-top: 70px;
    margin-left: 250px;
    width: 1320px;

}
.img-3{
    display: flex;
    
}
.img-3 img{
    width: 350px;
height: 350px;
flex-shrink: 0;
margin-right: 22px;


}

.img-3 img:hover{
    box-shadow: 10px 10px 60px 10px black;
}
.last{
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
display: block;
text-align: center;
margin: 100px 250px;
padding-bottom: 100px;

}
#im{
    width: 150px;
height: 150px;
flex-shrink: 0;
}
.subs{
    
    display: flex;
  
     align-items: center; 
    text-align: center;
    margin-left:500px;
    height: 42px; 
    flex-shrink: 0;

    
}
#form{
    outline: none;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
   padding: 20px 20px;
   
}
#button{
    outline: none;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
   padding: 20px 20px;
   color: #FFF;
  
}
   





/* Footer Styles */



footer {
    width: 100%;
    background-color: black;
    padding-bottom: 100px;
    padding-top: 100px;
}

footer>div {
    width: 80%;
    display: block;
    margin: 0 auto;
    color: white;
}

footer>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2px solid rgb(32, 32, 32);
    padding-bottom: 30px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-top: 50px;
}

footer ul li {
    list-style: none;
}

.icon img{
    width: 16px;
}
.icon-2 img{
    width: 16px;
} 
  